<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shiladitya</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
</head>
<body>
    <h1>Sneha, are you crazy?</h1>
    <button id="yes-button" onclick="window.location.href='/yes'">Yes</button>
    <button id="no-button">No</button>
</body>
</html>
